@import url('https://fonts.googleapis.com/css?family=Raleway');

* { font-family: 'Raleway', sans-serif; }
html { height: 100%; }

body
{
    height: 100%;
    background-image: url('../img/background-tile.png');
}

a
{

    color: #87c38f;
    text-decoration: none;
}

a:hover
{
    text-decoration: none;
    color: #226f54;
}


/* Navigation */
.nav-item
{
    font-size: 12px;
    font-weight: bold;
    padding: 0 22px;
}

.nav-item:hover {  border-bottom: #226f54 solid 3px; }
.nav-item a { text-decoration: none; }

.branding
{
    color: #ffffff;
    text-transform: uppercase;
    padding-top: 22px;
    font-size: 16px;
    margin-top: 6px;
}

.active
{
    margin-top: 16px;
    border-bottom: #87c38f solid 3px;
}

.nav-container { margin-bottom: 22px; }

/* END NAVIGATION */
/* HEADER */
.header {
    width: 100%;
    min-height: 356px;
}

.header-bg
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 352px;
    background-image: url('../img/header-bg.png');
    z-index: -1;
    border-bottom: solid #226f54 4px;
    box-shadow: 0px -20px rgba(0, 0, 0, 0.6);
}

/* END HEADER */
/* BANNER */

.banner-image
{
    z-index: -1;
    height: auto;
    width: 100%;
    max-height: 512px;
    max-width: 1200px;
    border-bottom: #87c38f 6px solid;
}

.banner-content
{
    max-width: 256px;
    color: white;
    padding: 8px 8px;
    position: absolute;
    left: 64px;
    top: 30%;
    text-align: center;
}

.banner-content p { font-size: 12px; }
.banner-header { color: #87c38f; }
.banner-image-container {  position: relative; }

/* END BANNER */

/* CONTROL_BAR */
.control-bar { margin-top: 6px; }
.control-segment { text-align: center; }
.control-button
{
    background-color: #226f54;
    border: #232323 1px solid;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 10px;
}

/* END CONTROL_BAR */

.center { float: none; margin: 0px auto; }
.text-center { text-align: center; }
.text-right { text-align: right; }